<aside class="right-side">
  <!--if-->
  <section ng-show="loading_area" class="content-header">
    <center><%=image_tag("loading.gif")%></center>
  </section>
  <!--else-->
  <section ng-if='!loading_area && area.id' ng-include src="'procesos/_navigation.html'"  class="content-header"></section>
      <!-- Main content -->
  <section ng-if='!loading_area && area.id' class="content">
    <div class='row'>
      <section class="col-lg-12">
        <div class="nav-tabs-custom" style="cursor: move;">
          <ul class="nav nav-tabs pull-right">
            <li class="pull-left header"><i class="fa fa-cogs"></i> Procesos</li>
            <li ng-class="{'active': state == 'procesos'}"><a href ng-click='listarProcesos()' data-toggle="tab">Listado</a></li>
            <li ng-class="{'active': state == 'procesos.new'}"><a href ng-click='nuevoProceso()' data-toggle="tab">Nuevo proceso</a></li>            
          </ul>
        </div>
      </section>  
    </div>
    <div class="row">
      <div ng-switch on="state"> 
        <div ng-switch-when="procesos">
          <div ng-include src="'procesos/procesos.list.html'"></div>
        </div>
        <div ng-switch-when="procesos.new">
          <div ng-include src="'procesos/procesos.new.html'"></div>
        </div>
        <div ng-switch-when="procesos.evidencias">
          <div ng-include src="'procesos/procesos.evidencias.html'"></div>
        </div>
      </div>      
    </div>
  </section>
</aside>

