<aside class="left-side sidebar-offcanvas">         
  <section class="sidebar">
    <%= render 'layouts/template/sidebar/profile'%>
    <div ng-include src="'sidebar/_search_form.html'"></div>
  </section>  
  <div ng-include src="'sidebar/_links.html'"></div>
</aside>