<aside class="right-side">
  <!--if-->
  <section ng-show="loading_area" class="content-header">
    <center><%=image_tag("loading.gif")%></center>
  </section>
  <!--else-->
  <section ng-if='!loading_area && area.id' ng-include src="'indicadores/_navigation.html'"  class="content-header">
  </section>
  <!-- Main content -->
  <section ng-if='!loading_area && area.id' class="content">
    <div class='row'>
      <section class="col-lg-12">
        <div class="nav-tabs-custom" style="cursor: move;">
          <ul class="nav nav-tabs pull-right">
            <li class="pull-left header">
              <i class="fa fa-bullhorn"></i> Indicadores
            </li>
            <li ng-class="{'active': state == 'indicadores'}">
              <a href ng-click='listarIndicadores()' data-toggle="tab">Listado</a>
            </li>
            <li ng-class="{'active': state == 'indicadores.new'}">
              <a href ng-click='nuevoIndicador()' data-toggle="tab">Nuevo indicador</a>
            </li>            
          </ul>
        </div>
      </section>  
    </div>
    <div class="row">
      <div ng-switch on="state"> 
        <div ng-switch-when="indicadores">
          <div ng-include src="'indicadores/indicadores.list.html'"></div>
        </div>
        <div ng-switch-when="indicadores.new">
          <div ng-include src="'indicadores/indicadores.new.html'"></div>
        </div>
      </div>      
    </div>
  </section>
</aside>

