<div class="col-md-12">
    <div class="box box-primary">

<div class="col-md-12">
	<h3> {{ area.nombre  }}</h3>
	<input type="hidden" ng-model="control_filter" />
	<button class="btn bg-blue" ng-click="control_filter='coneau'" >Indicadores CONEAU</button>
	<button class="btn bg-green" ng-click="control_filter='interno'" >Indicadores Internos</button>
	<hr>
</div>
<div class="col-md-12">
	<table class="table">
		<thead>
			<tr>
				<th>Codigo</th>
				<th>Nombre</th>
				<th>Tipo</th>
				<th>control</th>
				<th>clase</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="indicador in indicadores | filter:{control: control_filter}">
				<td> <strong> {{ indicador.id }} </strong> </td>
				<td> {{indicador.codigo}}-{{ indicador.nombre }}  </td>
				<td> 
					<span ng-if="indicador.type == 'IndicadorOperativo' " class="badge bg-yellow">Operativo</span>
					<span ng-if="indicador.type == 'IndicadorGestion'" class="badge bg-red">Gestión</span>
				</td>
				<td> 
					<span ng-if="indicador.control == 'interno' " class="badge bg-green">Interno</span>
					<span ng-if="indicador.control == 'coneau' "class="badge bg-blue">CONEAU</span>
				</td>
				<td > 
					<span ng-if="indicador.clase == 'satisfaccion' " class="badge">Satisfacción</span>
					<span ng-if="indicador.clase == 'eficacia' " class="badge">Eficacia</span>
					<span ng-if="indicador.clase == 'otros' " class="badge">Otros</span> 
				</td>
			</tr>
		</tbody>
	</table>
</div>
	</div>
</div>
