<div class="col-md-6">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"> Nuevo Indicador </h3>
		</div>
		<div class="panel-body">
			<form action="" role="form">
			    <div class="box-body">
				<div class="form-group">
					<label for="">Codigo</label>
					<input type="text" class="form-control" />
				</div>
				<div class="form-group">
					<label for="">Nombre</label>
					<input type="text" class="form-control" />
				</div>
				<div class="form-group">
					<label for="tipo">Tipo de Indicador</label>
					<br />
					<input type="radio" value="1" name="tipo" class="" />
					Gestión <br />
					<input type="radio" value="2" name="tipo" class="" />
					Operativo <br />
				</div>
				<div class="form-group">
					<label for="tipo2">Procedencia del Indicador</label>
					<br />
					<input type="radio" value="1" name="tipo" class="" />
					Imterno <br />
					<input type="radio" value="2" name="tipo" class="" />
					CONEAU <br />
				</div>
				<div class="form-group">
					<label for="descripcion"> Descipción </label>
					<textarea name="decripcion" rows="4" class="form-control" >
					</textarea>
				</div>
				<div class="form-group">
					<input type="reset" value="Limpiar" class="btn btn-danger" />
					<input type="submit" value="Agregar Indicador" class="btn btn-primary" />
				</div>
			    </div>
			</form>
		</div>
	</div>
</div>
