<div ng-controller='evaluacionesInicialesController' >
  <section ng-show="loading_auditoria" class="content-header">
    <center><%=image_tag("loading.gif")%></center>
  </section>   
  <section ng-if='!loading_auditoria && auditoria.id' class="col-lg-12 col-xs-12">
    
    <!--Auditoria header-->
    <div class="panel-body">
      <div class="box box-solid bg-light-blue-gradient">
        <div class="box-header">
          <i class="fa fa-bullhorn"></i>
          <h3 class="box-title">
            {{auditoria.codigo}}  
          </h3> 
        </div>
        <div class="box-body border-radius-none">
          <div ng-show="auditoria.total_evaluaciones != auditoria.iniciales_evaluadas" class="chart" style="min-height:45px">
            <center>Para mostrar la gráfica se debe haber concluido en un 100% las evaluaciones.</center>
          </div>
          <div ng-show="auditoria.total_evaluaciones == auditoria.iniciales_evaluadas" class="chart" style="min-height:45px">
            <div>
              <center>
                <button ng-click='toggleGrafica()' class="btn btn-primary btn-sm"> 
                  <i class="fa fa-bar-chart-o"></i>&nbsp {{grafica.text}}
                </button>
                <button ng-if="auditoria.state == 'cumplimiento' || auditoria.state=='finalizada'" ng-click='verEvaluacionesCumplimiento(auditoria)' title='Ver evaluaciones de cumplimiento' class="btn btn-danger btn-sm"> 
                  <i class="fa fa-angle-right"></i>
                </button>
              </center><br>
            </div>
            <div ng-if="grafica.status == 'on'" style='background: white;'>
              <div ng-controller='graficaInicialesController' style='color: black;'>
                <center ng-show='loading'><%=image_tag("loading.gif")%></center>
                <div id="container" style="min-width: 310px; height: 400px; max-width: 700px; margin: 0 auto">
                </div>
              </div>              
            </div>
          </div>                                    
        </div><!-- /.box-body -->
        <div class="box-footer no-border">
            <div class="row">
              <center style="color:#3c8dbc">PRIMERA EVALUACIÓN</center><br>
              <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                <div style="color:#3c8dbc">
                  <strong>{{auditoria.total_evaluaciones}}</strong>
                </div>
                <div class="knob-label">Total de evidencias</div>
              </div><!-- ./col -->
              <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                <div style="margin-top:5px">
                  <div class="progress xs" style='margin-bottom:8px'>
                    <div class="progress-bar progress-bar-warning" style="width: {{auditoria.iniciales_evaluadas*100/auditoria.total_evaluaciones}}%;">
                    </div>
                  </div>
                  <div class="knob-label">{{auditoria.iniciales_evaluadas*100/auditoria.total_evaluaciones | number:2  | myDecimal}}% Evaluado</div>
                </div><!-- ./col -->
              </div>  
              <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                <div style="color:#3c8dbc">
                   <strong>{{auditoria.iniciales_evaluadas}}</strong>                 
                </div>
                <div class="knob-label">Evidencias evaluadas</div>
              </div><!-- ./col -->
            </div><!-- /.row -->
          </div><!-- /.box-footer -->
      </div>      
    </div>

    <!--Evaluaciones table-->
    <div class='row' style='margin-bottom: 10px'>
      <div class="col-xs-5" style='float:right;'>  
        <select class='form-control input-small' ng-model="selected_proceso" ng-options="proceso for proceso in procesos">
          <option value="">-- Todos los procesos --</option>
        </select>
      </div>
    </div>

    <div ng-repeat='elemento in evaluaciones_iniciales'>
      <div ng-show="selected_proceso == undefined || selected_proceso == elemento[0]['proceso']">
        <div class="row">
          <div class="col-xs-12">
            <div class="box box-primary" style='color:black'>
              <div class="box-header">
                <h3 class="box-title">
                  <i class="fa fa-cogs"></i> {{elemento[0]['proceso']}}
                </h3>
              </div><!-- /.box-header -->
              <div class="box-body table-responsive no-padding">
                <table class="table table-hover" >
                  <tr>
                    <th style='width: 33%;'>EVIDENCIAS CONEAU Y SGIC</th>
                    <th>¿Evaluada?</th>
                    <th>Fecha de evaluación</th>
                    <th>Verificación</th>
                    <th></th>
                  </tr>
                  <tr ng-repeat="eva in elemento">
                    <td style='width: 50%;'>{{eva.evidence}}</td>
                    <th>{{eva.evaluada | booleano}}</th>
                    <th>{{eva.fecha_evaluacion | date:"dd 'de' MMM yyyy"}}</th>
                    <td><strong>{{(eva.cumplimiento | booleano_verificacion)}}</strong></td>
                    <td >
                      <button popover-trigger="mouseenter" popover-placement="left" popover-template="{{'auditorias/auditoria.evaluacion_inicial.description.html'}}" class="btn btn-info btn-sm">
                        <i class="fa fa-angle-left"></i>
                      </button>

                      <button ng-if="auditoria.state == 'evaluacion'" ng-click='evaluar(eva)' class="btn btn-primary btn-sm">
                        <i class="fa fa-pencil-square-o"></i>
                      </button>
                    </td>
                  </tr>
                </table>
              </div><!-- /.box-body -->
            </div><!-- /.box -->
          </div>
        </div>
      </div>   
    </div>  
  </section>    
</div>

