<div ng-controller='sidebarAreaController'>
  <div ng-show='area.id'>
    <section class="sidebar">
      <center>
        <i class="fa fa-angle-double-down" style='color: #29d'></i>
      </center>
      <ul class="sidebar-menu"> 
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>BSC</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-th"></i> <span>Objetivos</span> <small class="badge pull-right bg-green">new</small>
          </a>
        </li>         
        <li>
          <a href="#">
            <i class="fa fa-calendar"></i> <span>Auditoria</span>
            <small class="badge pull-right bg-red">3</small>
          </a>
        </li>          
      </ul>
    </section>
  </div>
</div>