<aside class="right-side">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      404 Error
      <small> ¿Tratando de realizar algo incorrecto?</small> 
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="error-page">
      <h2 class="headline text-info"> 404</h2>
      <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Oops! Recurso no encontrado.</h3>
        <p>
          Por algun motivo estas tratando de acceder a un recurso que no existe. Sin embargo te damos una solución, vuelve a  <a ng-href="/">la página principal</a> o simplemte aprecia la belleza de número 404.
        </p>          
      </div><!-- /.error-content -->
    </div><!-- /.error-page -->
  </section><!-- /.content -->            
</aside><!-- /.right-side -->