<aside class="right-side">
  <section class="col-lg-12">
    <div class='row'>
      <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-right">
          <li class="active"><a href="/">Dashboard</a></li>
          <li><a href="/oestrategicos">Objetivos Estratégicos</a></li>
          <li><a href="/areas">Areas</a></li>
          <li class="pull-left header"><i class="fa fa-inbox"></i>Home</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>
              15
            </h3>
            <p>
            Areas
            </p>
          </div>
          <div class="icon">
            <i class="fa fa-building-o"></i>
          </div>
          <a href="#" class="small-box-footer">
            Más información <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div><!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>
              8
            </h3>
            <p>
            Auditorias
            </p>
          </div>
          <div class="icon">
            <i class="fa fa-pencil-square-o"></i>
          </div>
          <a href="#" class="small-box-footer">
            Más información <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div><!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>
             123 
            </h3>
            <p>
            Indicadores
            </p>
          </div>
          <div class="icon">
            <i class="fa fa-check"></i>
          </div>
          <a href="#" class="small-box-footer">
             Más información <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div><!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3>
              65<sup style="font-size: 20px">%</sup>
            </h3>
            <p>
            Cumplimiento
            </p>
          </div>
          <div class="icon">
            <i class="fa fa-thumbs-o-up"></i>
          </div>
          <a href="#" class="small-box-footer">
            Más información <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div><!-- ./col -->
    </div>
    <div class='row'>
      <div id="container" style="height: 400px; min-width: 310px; max-width: 800px; margin: 0 auto"></div>
      <script>
$(function () {
    $('#container').highcharts({
chart: {
zoomType: 'xy'
},
title: {
text: 'Aca le clavamos un super grafico estadistico'
},
subtitle: {
text: 'Universidad Continental'
},
xAxis: [{
categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
}],
yAxis: [{ // Primary yAxis
labels: {
format: '{value}°C',
style: {
color: Highcharts.getOptions().colors[1]
}
},
title: {
text: 'Evaluaciones',
      style: {
color: Highcharts.getOptions().colors[1]
      }
       }
}, { // Secondary yAxis
title: {
text: '',
        style: {
color: Highcharts.getOptions().colors[0]
        }
       },
labels: {
format: '{value} mm',
        style: {
color: Highcharts.getOptions().colors[0]
        }
        },
opposite: true
}],
tooltip: {
shared: true
         },
legend: {
layout: 'vertical',
        align: 'left',
        x: 120,
        verticalAlign: 'top',
        y: 100,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
        },
series: [{
name: 'Rainfall',
      type: 'column',
      yAxis: 1,
      data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
      tooltip: {
valueSuffix: ' mm'
      }

        }, {
name: 'Temperature',
      type: 'spline',
      data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6],
      tooltip: {
valueSuffix: '°C'
      }
        }]
});
});
      </script>
    </div>
  </section>
</aside><!-- /.right-side -->
