<aside class="right-side">
  <section class="col-lg-12">
    <div class='row'>
      <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-right">
          <li class="active"><a href="/">Dashboard</a></li>
          <li><a href="/oestrategicos">Objetivos Estratégicos</a></li>
          <li><a href="/areas">Areas</a></li>
          <li class="pull-left header"><i class="fa fa-inbox"></i>Home</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>
              15
            </h3>
            <p>
            Areas
            </p>
          </div>
          <div class="icon">
            <i class="fa fa-building-o"></i>
          </div>
          <a href="#" class="small-box-footer">
            Más información <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div><!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>
              8
            </h3>
            <p>
            Auditorias
            </p>
          </div>
          <div class="icon">
            <i class="fa fa-pencil-square-o"></i>
          </div>
          <a href="#" class="small-box-footer">
            Más información <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div><!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>
             123 
            </h3>
            <p>
            Indicadores
            </p>
          </div>
          <div class="icon">
            <i class="fa fa-check"></i>
          </div>
          <a href="#" class="small-box-footer">
             Más información <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div><!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3>
              65<sup style="font-size: 20px">%</sup>
            </h3>
            <p>
            Cumplimiento
            </p>
          </div>
          <div class="icon">
            <i class="fa fa-thumbs-o-up"></i>
          </div>
          <a href="#" class="small-box-footer">
            Más información <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div><!-- ./col -->
    </div>
  </section>
</aside><!-- /.right-side -->
