<div class="user-panel">
  <div class="pull-left image">
    <img src="http://www.gravatar.com/avatar/99268f4c74b0886f567c7d5411fa4217.png" class="img-circle" alt="User Image" />
  </div>
  <div class="pull-left info">
    <p>Hola, Wenceslao Páez</p>
    <a href="#"><i class="fa fa-circle text-success"></i> En linea</a>
  </div>
</div>